body {
      font-family: 'Oswald', sans-serif;}

/**NavBar**/
.nav-item {
            letter-spacing:.2em;
            font-size:14px;
            text-transform:uppercase;
           }
.dropdown-item {
                letter-spacing:.2em;
                font-size:14px;
                text-transform:uppercase;}

/**Footer**/
.my-footer {
            padding-top:20px;
            font-size:14px;}

/**Category**/
.my-row{
        padding-top:15px}

.my-row .mx-auto{
                 color:black;
                 font-size:20px;}

.my-image{
          width:100%;
          height:auto;}

.my-image-padding{
                  padding:5px}

.my-bottom-margin{
                  margin-bottom:10px;}

.card-body h4{
                font-size:14px;
                text-transform:uppercase;
                letter-spacing:.2em;}

.my-prod-cat-class {
                    padding-top:15px;
                    padding-bottom:20px;}

.my-prod-cat-class .my-auto{
                            color:#000;
                            font-size:12px;
                            text-decoration:none;}

.my-prod-title{
                font-size:16px;
                text:transform:uppercase;
                letter-spacing:.2em;
                padding-top:15px;
                padding-bottom:10px;
}

.my-prod-text{
              padding-right:20px;}

/***Search***/
.my-search-text {
                 padding-top:20px}

/***cart***/

.custom-image{
width:100px;
height:100px;}
.my-custom-table{
                  min-width:400px;
                  font-size:14px}
.my-table-head{
                font-weight:normal;
                text-transform:uppercase;
                letter-spacing:.2em;
                background-color:#f8f8fa! important;}

.custom-a{
            text-decoration:none;}

.custom-icon{
                text-decoration:none;
                color:#868e!important;}

.my-custom-btn{
                margin-top:15px;}





